.container{
    border: 1px solid rgb(182 189 197 / 70%);
    padding: 10px;
    display: flex;
    gap: 0px;
    flex-direction: row;
    background-color: white;
    // box-shadow: 1px 3px 7px 1px lightgrey;
    
    max-width: 350px;
    // min-width: 350px;
    width: 100%;

    min-height: 250px;
    // max-height: 250px;
    // height: fit-content;

    border-radius: 10px;
    position: relative;
    .details_icon{
        position: absolute;
        right: 10px;
        cursor: pointer;
        opacity: 1;
        fill: lightgrey;
    }
    &:hover{
        scale: 1.02;
        transition: .5s;
        // .details_icon{
            // animation: details_anim .5s 1 normal  forwards;
        // }
    }
  
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;        
        transform: translateX(-50px);
        .svg_cnt{
        border-radius: 10px;
        padding: 5px;
        width: 80px;
        height: 70px;
        background: linear-gradient(318.7deg, #3E9D5C 13.58%, #61DF35 82.55%);
        display: flex;
        justify-content: center;
        align-items: center;
        ::ng-deep svg{      
                width: 50px;
                height: 55px;
        }
    }
  }
  .information{
    transform: translateX(-30px);
    display: flex;
    flex-direction: column ;
    gap: 10px;
    justify-content: space-between;
    // .title{text-align: center;}
    .description{
        color: gray;
        font-size: 14px;
        overflow-y: scroll;
    }
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
}

// @media (max-width:350px) {
//     .container{
      
//     }
// }
@media (max-width:350px){
    .container{
        .logo{
            display: none;
        }
        .information{
            transform: translate(0);
        }
        .buttons{
            flex-direction: column;
        }
    }
}


// Animations -------------------------
@keyframes details_anim {
    0%{transform: translateX(50px);}
    100%{opacity: 1;transform: translateX(0px);}
}