#welcome_div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        color: white;
        // background-color: white;
        // border-radius: 5px;
        font-weight: bolder;
        padding: 3px;
        margin: 0;

        font-family: "Poppins", sans-serif;
        // margin-bottom: 15px;
        font-size: 35px;
        letter-spacing: 2px;
        border-right: solid 4px ;
        overflow: hidden;
        white-space: nowrap;

        width: 100%;        
        // display: inline-block;
        text-align: center;
        animation: typing  4s  forwards , 
                   cursor 1s step-end infinite ;
    }
    .ar_{
        max-width: 300px;
        margin-bottom: 25px;
    }
    .en_{
        max-width: 510px;
    }

}

@keyframes cursor {
    50%{border-color: transparent;}    
}
@keyframes typing {
    from{width: 0;}
}



.cards_container{
    margin: 30px 50px;
    display: none;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 70px ;
    justify-items: center;
}


@media only screen and (max-width : 830px ) {
    .cards_container{
        grid-template-columns: 1fr;
    }
    #welcome_div{
        // height: 60vh;
        justify-content: flex-start;
        .title{
            white-space: normal !important;
        }
    }
}

@media (max-width: 300px){
    .cards_container{
        margin: 30px 0 ;
    }
}

.outer_animation{
    opacity: 0;
    animation: hide duration timing-function delay iteration-count direction fill-mode;
}


// -----------------  BACKGROUND DESIGN




.area{
    width: 50%;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
}

.circles{
    position: relative;
    width: 90%;
    height: 100% ;
    // overflow: hidden;
}

.circles li{
    position: absolute;
    top: 0;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    border-radius: 10px;
    // bottom: -30%;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }

    100%{
        transform: translateY(1800px) rotate(720deg);
        opacity: 1;
        border-radius: 50%;
    }

}

  
  