#welcome_div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title{
        color: white;
        // background-color: white;
        // border-radius: 5px;
        font-weight: bolder;
        padding: 3px;
        margin: 0;

        font-family: "Poppins", sans-serif;
        // margin-bottom: 15px;
        font-size: 35px;
        letter-spacing: 2px;
        border-right: solid 4px ;
        overflow: hidden;
        white-space: nowrap;

        width: 100%;        
        // display: inline-block;
        text-align: center;
        animation: typing  4s  forwards , 
                   cursor 1s step-end infinite ;
    }
    .ar_{
        max-width: 300px;
        margin-bottom: 25px;
    }
    .en_{
        max-width: 510px;
    }

}

@keyframes cursor {
    50%{border-color: transparent;}    
}
@keyframes typing {
    from{width: 0;}
}



.cards_container{
    margin: 30px 50px;
    display: none;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 70px ;
    justify-items: center;
}
.cards_container::before, .cards_container::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
  }
  
  .cards_container::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
  }
  .cards_container::after {
    width: 55%;
    height: 100%;
    background-color: var(--background_color);
    left: -1.5%;
    top: 40%;
  }



@media only screen and (max-width : 830px ) {
    .cards_container{
        grid-template-columns: 1fr;
    }
    #welcome_div{
        // height: 60vh;
        justify-content: flex-start;
        .title{
            white-space: normal !important;
        }
    }
}

@media (max-width: 300px){
    .cards_container{
        margin: 30px 0 ;
    }
}

.outer_animation{
    opacity: 0;
    animation: hide duration timing-function delay iteration-count direction fill-mode;
}

